---
name: renovate-config-validator
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/renovate.json5
  push:
    branches:
      - main
    paths:
      - .github/renovate.json5
  workflow_dispatch:
permissions:
  contents: read
jobs:
  validate_renovate_config:
    name: Validate Renovate Config
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - .github/renovate.json5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        # yamllint disable-line rule:line-length
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "22"
      # yamllint disable-line rule:line-length
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
        with:
          config_file_path: ${{ matrix.config }}
